$fade-animations-duration: 0.66s;

.home {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home__dev-name {
  text-align: center;
  font-size: 6.66vmax;
  margin: 0;
  animation-duration: $fade-animations-duration;
}

.home__dev-title {
  font-size: 5vmax;
  margin: 0;
  animation-duration: $fade-animations-duration;
}

.home__navigation {
  font-size: 2.5vmax;
  margin: 2rem 0 0;
  padding: 0;
  width: 100%;
  height: 10rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.home__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  animation-duration: $fade-animations-duration;
  transition: background-color $default-transition-out-duration,
    box-shadow $default-transition-out-duration;
}

.home__nav-item:hover {
  box-shadow: 0 0 8px 2px saturate($main-background-color, 5%);
  background-color: saturate($main-background-color, 5%);
  transition: background-color $default-transition-in-duration,
    box-shadow $default-transition-in-duration;
}
